@use "sass:math";
@use "sass:color";
@use "../utils";

/* ----------------------------------- */
/*          CUSTOM PROPERTIES          */
/* ------------------------------------*/
/*        MAIN-ACCENT COLOURS          */
/*-------------------------------------*/

$clr-mid-blue: hsl(234, 25%, 52%);
$clr-almost-black: hsl(233, 54%, 16%);
$clr-mid-gray: hsl(232, 10%, 56%);
$clr-bright-orange: hsl(341, 92%, 62%);
$clr-light-pink: hsl(341, 100%, 83%);
$clr-white: hsl(0, 0%, 100%);
$clr-grad-pink: linear-gradient(hsl(13, 100%, 64%), hsl(322, 87%, 55%));
$clr-grad-blue-pink: linear-gradient(hsl(237, 100%, 64%), hsl(322, 87%, 55%));

/* ------------------------------------*/
/*        FONT SIZES                   */
/*-------------------------------------*/

$fs-12: utils.calculateRem(12);
$fs-13: utils.calculateRem(13);
$fs-14: utils.calculateRem(14);
$fs-15: utils.calculateRem(15);
$fs-16: utils.calculateRem(16);
$fs-18: utils.calculateRem(18);
$fs-20: utils.calculateRem(20);
$fs-24: utils.calculateRem(24);
$fs-28: utils.calculateRem(28);
$fs-36: utils.calculateRem(36);
$fs-40: utils.calculateRem(40);
$fs-56: utils.calculateRem(56);

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* screen reader only */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    /* added line */
    border: 0;
}