@use 'sass:color';
@use '../base';
@use '../utils';

.hero {
    padding-block: 2rem;

    @include utils.mQ(38.75rem) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // align-items: last baseline;
        padding-block-start: 3rem;
    }

}

.hero-content {
    @include utils.mQ(38.75rem) {
        flex: 1 1 55%;
    }
}

.hero-img-container {
    margin-block-start: 4rem;

    @include utils.mQ(38.75rem) {
        flex: 1 1 45%;
    }

    @include utils.mQ(61.25rem) {
        margin-block-start: -1rem;
        margin-inline-start: -2.8rem;
    }
}

.hero-img {
    width: 100%;
    height: 100%;
    transform: scale(1.25);
    position: relative;

    @include utils.mQ(38.75rem) {
        transform: scale(2.1);
        right: -10rem;
        top: -5.5rem;
    }

    @include utils.mQ(61.25rem) {
        right: -16rem;
        top: -1rem;
    }

}

.hero-title {
    font-size: base.$fs-36;
    line-height: 1.26;
    font-weight: 800;
    color: scale-color(base.$clr-almost-black, $lightness: -10%);

    @include utils.mQ(38.75rem) {
        font-size: base.$fs-40;
    }

    @include utils.mQ(61.25rem) {
        font-size: base.$fs-56;
    }
}

.hero-text {
    font-size: base.$fs-16;
    line-height: 1.6;
    font-weight: 500;
    color: scale-color(base.$clr-mid-gray, $lightness: -10%);
    padding-block-start: 2rem;
    padding-block-end: 2.2rem;

    @include utils.mQ(61.25rem) {
        font-size: base.$fs-18;
    }

    @include utils.mQ(71.785rem) { 
        padding-inline-end: 12rem;
    }
}